.hidden {
  display: none;
}

#taskFormContainer {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.task-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.task-item.highlight {
  background-color: yellow; /* Destaca tarefas com custo >= 1000 */
}
